body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
}

header{
    background: #ff0000;
    color: white;
    padding: 15px;
}

input{
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}

button{
    padding: 10px;
    cursor: pointer;
}

#player{
    margin: 20px;
}

#videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.card{
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.card img{
    width: 100%;
}

.card h3{
    font-size: 14px;
}